@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --primary-ff: 'Poppins', sans-serif;
    --color: white;
    --bg-color: #202225;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-ff);
    color: white;
}
body {
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    max-width: 90%;
    height: auto;
}
p {
    color: white;
    font-size: 50px;
    margin-top: 20px;
    
    
}
a {
    color: white;
    text-align: center;
}
a:hover {
    color: rgb(88, 233, 69);
}

footer {
    font-family: var(--primary-ff);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

